* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Frank Ruhl Libre Regular';
    src: url('fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: 'Frank Ruhl Libre Medium';
    src: url('fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/GreatVibes-Regular.ttf');
}

html {
    font-size: 62.5%;
}

:root {
    --fs-h1: calc(2rem + 1vw);
    --fs-h2: calc(3.5rem + 1vw);
    --fs-h3: calc(3rem + 1vw);
    --fs-h4: calc(2.4rem + 1vw);
    --fs-main: calc(1.5rem + 1vw);

    --clr-special: #906272;
    --clr-background: #414141;
    --clr-grey: #525252;
}

body {
    font-family: 'Frank Ruhl Libre Regular', serif;
}

h1 {
    font-size: var(--fs-h1);
    font-family: "Great Vibes", sans-serif;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4,
h5 {
    font-size: var(--fs-h4);
}


li,
button,
label,
input,
p,
a {
    font-size: var(--fs-main);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Nav Styles */

header {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    z-index: 1;
    position: relative;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

#logo {
    flex: 1 1 40rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 40rem;
}

/* Hero Style */

.hero {
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-introduction {
    flex: 2 1 40rem;
    text-align: center;
}

.hero-introduction p {
    padding: 5rem 10rem;
}

.hero-introduction h2 {
    padding-top: 3rem;
}

.hero-introduction h3 {
    padding-top: 3rem;
}

.hero-introduction a {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 0;
}

.hero-elena {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
}

.plant2 {
    left: 40%;
}